@import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');

html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px; /* Margin bottom by footer height */
  background-image: url(https://images.pexels.com/photos/957061/milky-way-starry-sky-night-sky-star-957061.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-size: cover;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
}

.bCards {
    width: 100px;
    color: green;
}

#bio {
    color: white;
    text-align: center;
    font-family: 'Mate SC', serif;
   

  
    text-shadow:  0 0 15px #0073e6, 0 0 15px #0073e6, 0 0 15px #0073e6, 0 0 15px #0073e6, 0 0 20px #0073e6;

    
}

/* .fakexLogo {
    size: 25px;
} */


#welheader {
    color: white;
}

#star {
    color: white;
}

#aboutstar {
    color: black;
    display: block;
    justify-content: left;
    max-width: 600px;
    margin-left: 550px;
    margin-top: -650px;
    font-size: 25px;
    

}



.about {
    color: black;
    font-family: 'Mate SC', serif;
}

.rockets {
    color: white;
    
}

.dragimg {
    width: 400px;
    height: 400px;
}

.rocket {
    display: inline-block;
    justify-content: space-between;
    text-align: center;
    margin: 20px 20px 20px 60px;
    
}

.profile {
    color: white;
}

.button {
  color: black; 
  border: 2px solid black;
  height: 250px;
  width: 350px;

  

}

#butttext {
    color: white;
    font-size: 25px;
}

#butt1 {
    background-image: url('./images/buttbg1.jpeg');
    background-size: 350px 250px;

}
#butt2 {
    background-image: url('./images/buttbg3.jpeg');
    background-size: 350px 250px;
}
#butt3 {
    background-image: url('./images/buttbg2.jpeg');
    background-size: 350px 250px;
}
#butt4 {
    background-image: url('./images/buttbg4.jpeg');
    background-size: 350px 250px;
}
#butt5 {
    background-image: url('./images/buttbg7.jpeg');
    background-size: 350px 250px;
}
#butt6 {
    background-image: url('./images/buttbg8.jpeg');
    background-size: 350px 250px;
}






.edit {
    color: rgb(231, 0, 50);
    
}

.edit:hover {
    color: black;
    text-decoration: none;
}

/* .navbar-brand {
    background-image: url(./imgs/fakeX1.png);
} */

#starbutton {
    margin-left: 750px;
    margin-top: 100px;
    width: 400px;
    height: 50px;
    
}

#navs {
    
    color: #fff;
  
    text-shadow:  0 0 10px #0073e6, 0 0 10px #0073e6, 0 0 10px #0073e6, 0 0 10px #0073e6, 0 0 10px #0073e6;

}

#navbarheader {
    color: #fff;
    font-size: 25px;
    margin-right: 20px;
  
    text-shadow:  0 0 15px #0073e6, 0 0 15px #0073e6, 0 0 15px #0073e6, 0 0 15px #0073e6, 0 0 20px #0073e6;

}






